<form (ngSubmit)="onSubmit()" #tableForm="ngForm">
    <div class="wrapper wrapper-content">

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="form-group">
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Valor do Imóvel</h5>
                        </div>
                        <div class="ibox-content">
                            <input type="text" class="form-control" name="valorDoImovel" aria-label="Amount"
                                [(ngModel)]="table.valorDoImovel">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Taxa de Juros (%)</h5>
                        </div>
                        <div class="ibox-content">
                            <input name="taxa" type="text" class="form-control" aria-label="Amount" [(ngModel)]="table.taxa">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Parcelas</h5>
                        </div>
                        <div class="ibox-content">
                            <input name="parcelas" type="number" class="form-control" aria-label="Amount" [(ngModel)]="table.totalParcela">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Valor da Entrada</h5>
                        </div>
                        <div class="ibox-content">
                            <input name="entrada" type="text" class="form-control" aria-label="Amount" [(ngModel)]="table.valorDaEntrada">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-9">
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-success" [disabled]="!tableForm.form.valid" (click)="sendTable()">Submit</button>
                </div>
            </div>
        </div>



        <div class="row">

            <div *ngIf="table.parcelas.length > 0">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="ibox float-e-margins">

                                <div class="ibox-title">
                                    <h5>Tabela</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-7">

                                            <table class="table table-hover margin bottom">

                                                <thead>
                                                    <tr>
                                                        <th style="width: 1%" class="text-center">Parcelas</th>
                                                        <th class="text-center">Data</th>
                                                        <th class="text-center">Juros</th>
                                                        <th class="text-center">Valor</th>
                                                    </tr>
                                                </thead>

                                                <tbody *ngFor="let data of table.parcelas; let i = index ">
                                                    <tr>
                                                        <td class="text-center">{{i + 1}}</td>
                                                        <td class="text-center small">{{table.date[i]}}</td>
                                                        <td class="text-center">{{table.juros[i]}}</td>
                                                        <td class="text-center"><span class="label label-primary">${{data}}</span></td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>